@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --mobile: 375px;
    --desktop: 1440px;

    --soft-red: hsl(10, 79%, 65%);
    --softer-red: hsla(10, 79%, 65%, 0.8);
    --cyan: hsl(186, 34%, 60%);
    --soft-cyan: hsla(186, 34%, 60%, 0.8);
    --dark-brown: hsl(25, 47%, 15%);
    --md-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);

    --font-normal: 18px;
    --w-normal: 400;
    --w-semibold: 600;
    --w-bold: 700;

    --DM-Sans: "DM Sans", sans-serif;

    --chart-w: 33.875rem;
    /* 542px */
    --chart-h: 41.25rem;
    /* 660px */

    --rounded: 1.25rem;

    --padding: 2rem;
    --chart-p: 1.563rem;

    --bar-width: 3.125rem;
    /* 50px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--DM-Sans);
}

body {
    width: 100%;
    height: 100vh;
    background: var(--cream);
    display: flex;
    align-items: center;
    justify-content: center;
}

.expense-chart {
    width: 100%;
    height: 100%;
    max-width: var(--chart-w);
    max-height: var(--chart-h);
}

.expense-chart .chart-header {
    padding: var(--padding);
    display: flex;
    background: var(--soft-red);
    justify-content: space-between;
    border-radius: var(--rounded);
    align-items: center;
    margin-bottom: 1.563rem;
}

.header-img {
    max-width: 70px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.header-text {
    color: white;
}

.header-text p {
    font-size: 14px;
    font-weight: var(--font-normal);
    margin-bottom: .5rem;
}

.header-text h2 {
    font-weight: var(--w-bold);
}

.expense-chart .chart-body {
    padding: calc(var(--padding) + .25rem);
    background-color: var(--very-pale-orange);
    border-radius: var(--rounded);
}

.chart-body .chart {
    height: 250px;
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 1.125rem;
    align-items: end;
    padding: var(--chart-p) 0;
    border-bottom: 2px solid var(--cream);
}

.stocks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.stocks .bar {
    position: relative;
    height: 0;
    width: 100%;
    max-width: var(--bar-width);
    display: block;
    background: var(--soft-red);
    border: 1px solid transparent;
    border-radius: 0.438rem;
    transition: 150ms ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.bar.today {
    background-color: var(--cyan);
}

.bar .tooltip {
    /* display: none; */
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: -61px;
    left: -50%;
    transform: translateX(7px);
    color: white;
    font-weight: var(--w-semibold);
    text-align: center;
    background: var(--dark-brown);
    width: calc(var(--bar-width) + 1.25rem);
    padding: 12px 10px;
    border-radius: 6px;
    z-index: 9999;
    margin: 8px;
    transition: opacity 150ms ease-out;
}

.bar:hover {
    background: var(--softer-red);
}

.bar.today:hover {
    background: var(--soft-cyan);
}

.bar:hover .tooltip {
    /* display: block; */
    opacity: 1;
}

.stocks .label {
    margin: 0.625rem 0 0 0;
    text-align: center;
    color: var(--md-brown);
}

.chart-body .body-title {
    margin-top: .938rem;
    color: var(--dark-brown);
    text-wrap: pretty;
}

.chart-details {
    padding: var(--chart-p) 0 0 0;
}

.chart-details>p:first-child {
    color: var(--md-brown);
}

.chart-details .chart-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.375rem;
}

.chart-text h1 {
    color: var(--dark-brown);
    font-size: 2.813rem
        /* 45px */
    ;
}

.chart-text>div {
    text-align: end;
}

.chart-text>div>p:first-child {
    font-weight: var(--w-bold);
}

.chart-text>div>p:last-child {
    color: var(--md-brown);
}

@media screen and (max-width: 553.16px) {
    :root {
        --bar-width: 2.063rem;
    }
    
    .expense-chart {
        padding: 1rem;
        height: auto;
        max-height: 100%;

        .chart-header {
            padding: 1.25rem;

            .header-img {
                max-width: 60px;
            }
        }

        .chart-body {
            padding: 1.25rem;

            .body-title {
                font-size: 1.5rem;
            }

            .chart {
                gap: 0.75rem;

                .stocks {
                    .bar {
                        width: 100%;
                        max-width: 33px;

                        .tooltip {
                            top: -50px;
                            left: -25px;
                            font-size: .75rem;
                            width: calc(var(--bar-width) + 1.25rem);
                            transform: translateX(6px);
                            padding: 8px 2px;
                        }
                    }

                    .label {
                        font-size: 0.75rem;
                    }
                }
            }

            .chart-details {
                p:first-child {
                    font-size: .75rem;
                }

                .chart-text {
                    h1{
                        font-size: 1.688rem;
                    }
                    div>p:last-child {
                        font-size: .75rem;
                    }
                }
            }
        }
    }

}